

.circle-chart {
  width: 100%;
  border: 2px solid #7b6c63;
  background-color:transparent;
  color: white;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  margin:0 auto;
  display: block;
 
}

.circle-chart__circle {
  stroke: white;
  stroke-width: 1;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}


.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__background {
  stroke: transparent;
  stroke-width: 2;
  fill: none; 
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  alignment-baseline: central;
  text-anchor: middle;
  stroke-width:0.3;
  font-size: 4px;
  stroke: white;

}

.circle-chart__subline {
    alignment-baseline: central;
    text-anchor: middle;
    font-size: 3px;
  
}

.success-stroke {
  stroke: white;
}

.warning-stroke {
  stroke: white;
}

.danger-stroke {
  stroke: white;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
